* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.board_wrap {
  width: 1000px;
  margin: 100px auto;
  /* 위 아래로 100px, 좌우는 자동(가운데 정렬)*/
}

.board_title {
  margin-bottom: 30px;
}
.board_title h2 {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(115, 75, 224);
}
.board_title p {
  margin-top: 5px;
  font-size: 1.2rem;
}

.bt_wrap {
  margin-top: 30px;
  font-size: 0;
  text-align: center;
}

.bt_wrap a {
  display: inline-block;
  /* inline : 다른 요소들을 한 줄에 나오도록 */
  /* block : 다른 요소들은 한 줄씩 차지 */
  /* inline-block : 외부적으로는 inline, 내부적으로는 block / 
  block 엘리먼트처럼 width와 height 속성 지정 및 margin과 padding 속성의 상하 간격 지정 가능*/
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 2px solid rgb(115, 75, 224);
  border-radius: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  /* 링크버튼 밑줄 없애기 */
  color: rgb(115, 75, 224);
}

.bt_wrap a:first-child {
  margin-left: 0;
}

.bt_wrap a.on {
  background: rgb(115, 75, 224);
  color: white;
  /* 글자 색깔 */
}
